body{
    background-image: linear-gradient(rgb(125, 194, 246), #353333);
    height: 100vh;
}
h1{
    margin-top: 2%;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.logo{
    display: block;
    margin: auto;
    width: 4vw;
    height: 6vh;

}

.container{
    max-width: 955px;
    margin: auto;
    height:60vh;
    border: 2px solid black;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;

}
.message{
   background-color: aliceblue;
   width: 24%;
   padding: 10px;
   margin: 0.5rem 0.25rem;
   border: 2px solid saddlebrown;
   border-radius: 12px;


}
.left{
 float: left;
 clear: both;
}
.right{
     float:right ;
     clear: both;
}
#send-container{
    text-align: center;
    display: block;
    margin: auto;
    max-width: 76vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width:87%;
    font-size: medium;
    font-family: cursive;
    border: 2px solid saddlebrown;
    border-radius: 6px;
    height: 4vh;
}
.btn{
    width: 11%;
    cursor: pointer;
    margin: 0 5px;
    border: 2px solid saddlebrown;
    border-radius: 6px;
    height: 4vh;
}